* {
  font-family: "Roboto", sans-serif;
}

nav {
  position: relative;
  background-color: #212121;
  padding: 17px 0 26px 0;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  list-style-type: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 50px;
}
.menu_item:last-child {
  border-right: none;
}

.menu_item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.subheader {
  position: absolute;
  width: 100%;
  padding: 19px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_official {
  margin-top: 5px;
  opacity: 0.5;
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
}

.subheader_call {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}

.subheader_phone {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.subheader_btn {
  padding: 17px 23px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border: none;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  padding: 142px 0 186px;
  background: url(../img/bg/header_bg.png) center center/cover no-repeat;
}

.promo_header {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo_subheader {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo_descr {
  margin-top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  padding: 25px 27px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.cause {
  padding: 20px 0 64px 0;
}

.label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title {
  margin-top: 42px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.subtitle {
  margin-top: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.cause_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
}

.cause_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.cause_descr {
  width: 371px;
}

.cause_title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1EACC7;
}

.cause_text {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #202020;
}

.mobapp {
  background: url(../img/bg/mobapp_bg.png) center center/cover no-repeat;
  padding: 46px 0 61px 0;
}

.mobapp_row__margin {
  margin-top: 32px;
}

.mobapp_block {
  position: relative;
  padding: 89px 0 34px 0;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
}

.mobapp_bg1 {
  background: url(../img/mobapp/mobapp1.png) center center/cover no-repeat;
}

.mobapp_bg2 {
  background: url(../img/mobapp/mobapp2.png) center center/cover no-repeat;
}

.mobapp_bg3 {
  background: url(../img/mobapp/mobapp3.png) center center/cover no-repeat;
}

.mobapp_bg4 {
  background: url(../img/mobapp/mobapp4.png) center center/cover no-repeat;
}

.mobapp_bg5 {
  background: url(../img/mobapp/mobapp5.png) center center/cover no-repeat;
}

.mobapp_bg6 {
  background: url(../img/mobapp/mobapp6.png) center center/cover no-repeat;
}

.mobapp_descr {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.mobapp_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000;
  border-radius: 100%;
  cursor: pointer;
}
.mobapp_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1CA8C3;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobapp_plus::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1CA8C3;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobapp_plus:hover::before, .mobapp_plus:hover::after {
  background-color: #FF5656;
}

.choice {
  background: url(../img/bg/choice_bg.png) center center/cover no-repeat;
  padding: 54px 0 137px 0;
}

.choice_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.title_white {
  margin-top: 42px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subtitle_white {
  margin-top: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

.choice_auto {
  display: block;
  margin: 54px auto 0 auto;
}

.choice_descr {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.capabilities {
  padding: 65px 0 87px 0;
}

.capabilities_row__margin {
  margin-top: 33px;
}

.capabilities_header {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
  text-align: left;
}

.capabilities_terms {
  list-style-type: none;
}

.capabilities_descr {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}
.capabilities_descr::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 2px;
  width: 21px;
  height: 20px;
  background: url(../icons/check_blue.png);
}

.capabilities_descr_warning {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}
.capabilities_descr_warning::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 2px;
  width: 21px;
  height: 20px;
  background: url(../icons/check_red.png);
}

.capabilities_earnings {
  margin-bottom: 61px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #1CA8C3;
}

.capabilities_requirements {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #FF5656;
  text-align: left;
}

.capabilities_list {
  list-style-image: url(../icons/check_red.png);
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-indent: 50px;
  color: #222222;
}

.towns {
  background: url(../img/bg/world_bg.png) center center/cover no-repeat;
  padding: 49px 0 50px 0;
}

.towns_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.towns_all {
  margin-top: 457px;
  text-align: center;
}
.towns_all a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #1FBAD6;
}

footer {
  padding: 12px 23px 38px 23px;
}

.footer_divider {
  width: 301px;
  height: 4px;
  margin: 0 auto;
  background-color: #1FBAD6;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
}

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.footer_block:nth-child(3) {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
}
.footer_social i {
  color: #fff;
}

.footer_social, .footer_apps a:nth-child(n+2) {
  margin-left: 6px;
}

.footer_links {
  display: block;
  width: 390px;
  margin: 0 auto;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.footer_links_main a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}

.footer_links_sub {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_links_sub a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}

.footer_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
}
.footer_lang a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #1FBAD6;
}

.footer_apps a {
  text-decoration: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1399.98px) {
  .menu_item {
    padding-right: 35px;
  }
}
@media (max-width: 1199.98px) {
  .menu_item {
    padding-right: 20px;
  }
  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .cause_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cause_descr {
    width: 300px;
  }
  .mobapp_block {
    width: 300px;
    height: 262.5px;
  }
}
@media (max-width: 991.98px) {
  .menu_item {
    padding-right: 7px;
  }
  .menu_item a {
    font-size: 13px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 21px;
  }
  .subheader_btn {
    margin-top: 5px;
    padding: 0 5px;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .promo_descr {
    width: 100%;
  }
  .cause_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cause_round {
    margin-right: 0;
  }
  .cause_descr {
    margin-top: 20px;
  }
  .mobapp_descr {
    font-size: 21px;
  }
  .choice_auto {
    width: 100%;
  }
  footer {
    padding: 24px 0 30px 0;
    width: 100%;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
  }
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_block:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer_links_main {
    padding: 0 19px;
    color: #070716;
  }
  .footer_links_main a {
    font-size: 16px;
  }
  .footer_links_sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 300px;
    margin: 8px auto 0 auto;
    line-height: 15px;
  }
  .footer_links_sub a {
    font-size: 14px;
  }
  .footer_lang {
    margin-top: 5px;
  }
  .footer_lang a {
    font-size: 14px;
  }
  .footer_social {
    margin-top: 18px;
  }
  .footer_apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 18px;
  }
  .footer_apps a:nth-child(n+2) {
    margin-left: 6px;
  }
}
@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 1;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_item a {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 10px;
    top: 15px;
    width: 26px;
    height: 12px;
    z-index: 1;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2.5px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .subheader_logo img {
    margin-top: 20px;
  }
  .subheader_official {
    display: none;
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 40px;
    margin-top: 10px;
  }
}
@media (max-width: 575.98px) {
  .hamburger {
    top: 12px;
  }
  nav {
    height: 32px;
    padding: 0;
  }
  .subheader {
    padding: 11px 21px 10px 16px;
  }
  .subheader_logo img {
    margin-top: 16px;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 20px;
    margin-top: 7px;
    font-size: 10px;
  }
  .subheader_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  }
  .subheader_phone {
    font-size: 12px;
    margin: 0 0;
  }
  .promo {
    min-height: 400px;
    padding: 102px 23px 34px 23px;
  }
  .promo_header {
    font-size: 31px;
  }
  .promo_subheader {
    margin-top: 32px;
    font-size: 18px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    margin-top: 72px;
    width: 210px;
    height: 50px;
    font-size: 16px;
    padding: 0;
  }
  .promo_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  .menu_item a {
    display: block;
  }
  .title {
    font-size: 16px;
    margin: 15px 0 0 0;
  }
  .cause {
    padding: 22px 0 38px 0;
  }
  .cause_block {
    margin-top: 23px;
  }
  .cause_round {
    width: 100px;
    height: 100px;
  }
  .cause_descr {
    width: 100%;
    margin-top: 23px;
  }
  .cause_text {
    font-size: 15px;
  }
  .mobapp_row__margin {
    margin-top: 27px;
  }
  .mobapp {
    padding: 25px 0 13px 0;
  }
  .mobapp_block {
    width: 290px;
    margin: 0 auto 30px auto;
  }
  .choice .title_white {
    display: none;
  }
  .choice .subtitle_white {
    display: none;
  }
  .choice {
    padding: 24px 0 28px 0;
    background: none;
    background-color: #070716;
  }
  .choice_auto {
    margin: 34px auto 0 auto;
    width: 300px;
    height: 190px;
  }
  .choice_descr {
    margin-top: 23px;
    color: #FFFFFF;
  }
  .capabilities {
    padding: 23px 0 30px 0;
  }
  .capabilities_header {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .capabilities_descr {
    font-size: 14px;
  }
  .capabilities_earnings {
    margin-bottom: 33px;
  }
  .capabilities_terms {
    margin-bottom: 37px;
  }
  .capabilities_requirements {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .towns {
    height: 360px;
    padding: 24px 0 29px 0;
  }
  .towns_label {
    width: 79px;
    height: 26px;
  }
  .towns_all {
    margin-top: 190px;
  }
  .towns .title_white {
    margin-top: 14px;
    font-size: 16px;
  }
  .towns .subtitle_white {
    margin-top: 11px;
    font-size: 14px;
  }
  footer {
    padding: 24px 0 30px 0;
    width: 100%;
  }
  .footer_divider {
    width: 255px;
    height: 2px;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
  }
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_block:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer_links_main {
    padding: 0 19px;
    font-size: 14px;
    color: #070716;
  }
  .footer_links_main a {
    font-size: 12px;
  }
  .footer_links_sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 245px;
    margin: 8px auto 0 auto;
    line-height: 15px;
  }
  .footer_links_sub a {
    font-size: 11px;
  }
  .footer_lang {
    margin-top: 5px;
  }
  .footer_social {
    margin-top: 18px;
  }
  .footer_apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 18px;
  }
  .footer_apps a:nth-child(n+2) {
    margin-left: 6px;
  }
}/*# sourceMappingURL=styles.css.map */